{{#*inline "page"}}
<div class="pad-before-xlg">
  <div class="wrapper wrapper-sm pad-before">
    <header class="Intro pad-around">
      <div class="Intro__inner inner-wrapper sf-flow">
        <div class="Intro__copy sf-flow">
          <h1 class="Intro__heading h3">Projects</h1>
          <div class="Intro__byline h6 sf-flow">
            <p>
              Projects that I have worked on!
            </p>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>

{{> projects/project-list }}

{{/inline}}
{{~> (parent)~}}