{{#*inline "page"}}
<header>
    <div class="not-found">
        <div class="message404">
            <h1>404</h1>
            <h4>This page does not exist ^-^.</h4>
        </div>
        {{!-- Insert image here --}}
    </div>
</header>

{{/inline}}
{{~> (parent)~}}