{{#*inline "page"}}
<div class="pad-before-xlg">
  <div class="wrapper wrapper-sm padding-before">
    <header class="Intro pad-around">
      <div class="Intro__inner inner-wrapper sf-flow">
        <div class="Intro__copy sf-flow">
          <h1 class="Intro__heading h3">Writings</h1>
          <div class="Intro__byline h6 sf-flow">
            <p>
              Sometimes I feel like I can express some of my thoughts in writing.
            </p>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>

{{!-- put this poem and citation inside a box with its own scrollbar --}}
{{!-- <header class="index">
  <div class="unselect memento">
    memento
  </div>
  <div class="simple">
    <section class="crypto">
      <q>We kill people based on metadata.</q>
      <h2>Michael Hayden (NSA)</h2>
    </section>
    <section class="poetry">
      <h1>Twinkle Twinkle Little Star</h1>
      <h2>by Jane Taylor, 1806</h2>
      <p>Twinkle, twinkle, little star,<br />
        How I wonder what you are!<br />
        Up above the world so high,<br />
        Like a diamond in the sky!</p>
      <p>When the blazing sun is gone,<br />
        When he nothing shines upon,<br />
        Then you show your little light,<br />
        Twinkle, twinkle, all the night.</p>
      <p>Then the traveller in the dark,<br />
        Thanks you for your tiny spark,<br />
        He could not see which way to go,<br />
        If you did not twinkle so.</p>
      <p>In the dark blue sky you keep,<br />
        And often through my curtains peep,<br />
        For you never shut your eye,<br />
        Till the sun is in the sky.</p>
      <p>As your bright and tiny spark,<br />
        Lights the traveller in the dark,&mdash;<br />
        Though I know not what you are,<br />
        Twinkle, twinkle, little star.</p>
    </section>
  </div>
</header> --}}

{{/inline}}
{{~> (parent)~}}