<header role="banner" class="site_head pad-bottom-500 pad-top-500">
  <div class="wrapper wrapper-lg">
    <div class="site_head_inner box-flex space-between align-center">
      <a class="brand_wrapper" href="{{baseurl}}/">
        <span class="brand">yuzonightly</span>
      </a>
      <nav class="nav box-flex align-center">
        <ul class="nav__list box-flex align-center">
          <li class="nav__item"><a href="{{baseurl}}/about">about</a></li>
          <li class="nav__item"><a href="{{baseurl}}/writings">writing</a></li>
          <li class="nav__item"><a href="{{baseurl}}/projects">projects</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>